################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/Abhishek_pandey_intern_iimt/v17/.wsuo
/.vs/slnx.sqlite
/.vs/tasks.vs.json
/.vs/VSWorkspaceState.json
/.vs/Abhishek_pandey_intern_iimt/config/applicationhost.config
