################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs
/.vs/Abhishek_pandey_intern_iimt/v17/.wsuo
/.vs/slnx.sqlite
/.vs/tasks.vs.json
/.vs/VSWorkspaceState.json
/.vs/Abhishek_pandey_intern_iimt/config/applicationhost.config
/MathLibrary/MathLibrary/bin/Debug
/MathLibrary/MathLibrary/obj/Debug
/MathLibrary/.vs/MathLibrary
/Assignment/MathLibrary/bin/Debug
/Assignment/.vs/MathLibrary/v17
/Assignment/MathLibraryTest/bin/Debug
/Assignment/MathLibraryTest/obj/Debug
/Assignment/MathLibraryTest/Properties
/Assignment/MathLibraryTest/packages.config
/Assignment/packages
/Assignment/MathLibrary/packages.config
/Assignment/MathLibraryTest/obj/Release
/Assignment/CalculatorApp/obj/Debug/CalculatorApp.csproj.AssemblyReference.cache
/Assignment/MathLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Assignment/MathLibrary/obj/Debug/MathLibrary.csproj.AssemblyReference.cache
/Assignment/MathLibrary/obj/Debug/MathLibrary.csproj.CoreCompileInputs.cache
/Assignment/MathLibrary/obj/Debug/MathLibrary.dll
/Assignment/CalculatorApp/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/Assignment/CalculatorApp/obj/Debug/CalculatorApp.csproj.AssemblyReference.cache
/Assignment/MathLibrary/obj/Debug/MathLibrary.pdb
/Assignment/MathLibrary/obj/Debug/MathLibrary.csproj.GenerateResource.cache
/Assignment/CalculatorApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Assignment/CalculatorApp/obj/Debug/CalculatorApp.csproj.CoreCompileInputs.cache
/Assignment/CalculatorApp/obj/Debug/CalculatorApp.csproj.FileListAbsolute.txt
/Assignment/CalculatorApp/obj/Debug/CalculatorApp.csproj.GenerateResource.cache
/Assignment/CalculatorApp/obj/Debug/CalculatorApp.exe
/Assignment/CalculatorApp/obj/Debug/CalculatorApp.pdb
/Assignment/CalculatorApp/obj/Debug/CalculatorApp.Properties.Resources.resources
/Assignment/CalculatorApp/bin/Debug/CalculatorApp.exe
/Assignment/CalculatorApp/bin/Debug/CalculatorApp.pdb
/Assignment/CalculatorApp/bin/Debug/MathLibrary.dll
/Assignment/CalculatorApp/bin/Debug/MathLibrary.pdb
