################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Abhishek_pandey_intern_iimt/FileContentIndex/177a72bb-48e9-4359-9ee9-c8f8dc600b39.vsidx
/.vs/Abhishek_pandey_intern_iimt/FileContentIndex/519b6cb0-6a8c-4357-8956-0a39d76a28c7.vsidx
/.vs/Abhishek_pandey_intern_iimt/FileContentIndex/cb815acf-bf5e-4196-b7f9-ff5a18a445a3.vsidx

/.vs